@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

:root{
    /* Colors */
    --darkColor        : #0B1D26;
    --lightYellow      : #FBD784;
    --whiteColor       : #FFFFFF;
;

    /* Tipografía */
    --mainTypography   : 'Playfair Display', serif;  
    --secondTypography : 'Poppins', sans-serif;
}
    
